# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User defined rules
# CLion preferences
.idea
# Manually built `scaffold`
cmake-manual
# CLion created `cmake` folder
cmake-build-debug
# Miscellaneous files
ignore
# A symbolic link to `Header` folder (for testing)
scaffold
